<!DOCTYPE html>
<html>
<head>
    <title>Energy Consumption Forecast</title>
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Device Forecast</h1>

    <form action="/device_forecast" method="post">
        <label for="device_id">Device ID:</label>
        <label for="device_id">Select Device:</label>
        <select id="device_id" name="device_id" required>
            {% for device in unique_devices.itertuples() %}
                <option value="{{device._1}}">{{ device.Name }}</option>
            {% endfor %}
        
        </select>
        </select>
        <label for="range">Time Range:</label>
        <select id="range" name="range">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
        </select>
        <input type="submit" value="Get Forecast">
    </form>
    {% if forecast_data %}
        <img src="{{ graph_url }}" alt="Forecast Graph">
        <div>{{ forecast_data|safe }}</div>
    {% endif %}



</body>
</html>
