<!DOCTYPE html>
<html>
<head>
    <title>Energy Consumption Forecast</title>
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'navbar.html' %}
    <h1>Device Forecast</h1>
    <form action="/device_forecast" method="post">
        <label for="device_id">Device ID:</label>
        <label for="device_id">Select Device:</label>
        <select id="device_id" name="device_id" required>
            {% for device in unique_devices %}
                <option value="{{ device }}" {% if device in top_10_devices %} selected {% endif %}>
                    {{ device }}
                </option>
            {% endfor %}
        </select>
        <label for="range">Time Range:</label>
        <select id="range" name="range">
            <option value="day">Day</option>
            <option value="week">Week</option>
            <option value="month">Month</option>
        </select>
        <input type="submit" value="Get Forecast">
    </form>
    {% if forecast_data %}
        <img src="{{ graph_url }}" alt="Forecast Graph">
        <div>{{ forecast_data|safe }}</div>
    {% endif %}

    <form action="/device_forecast" method="post">
        <label for="devices">Choose devices (up to 10):</label>
        <select name="devices" id="devices" multiple size="10">
            {% for device in unique_devices %}
                <option value="{{ device }}" {% if device in top_10_devices %} selected {% endif %}>
                    {{ device }}
                </option>
            {% endfor %}
        </select>
        <input type="submit" value="Submit">
    </form>

    <script>
        document.getElementById('devices').addEventListener('change', function () {
            var selectedOptions = this.selectedOptions;
            if (selectedOptions.length > 10) {
                alert('You can select up to 10 devices.');
                // Revert to the last valid selection
                this.selectedIndex = -1;
            }
        });
    </script>
</body>
</html>
