<!DOCTYPE html>
<html>
<head>
    <title>Energy Comparision Forecast vs Actuals</title>
    {% include 'scripts.html' %}
</head>
<body>
    {% include 'navbar.html' %}


    <div class="container mt-5">
        <h1 class="text-center">Energy Consumption Forecast</h1>
        <form method="post" enctype="multipart/form-data" class="mb-5">
            <div class="form-group">
                <label for="date">Enter Start Date (YYYY-MM-DD):</label>
                <input type="date" id="date" name="date" class="form-control">
            </div>
            <div class="form-group">
                <label for="range">Select Range:</label>
                <select name="range" id="range" class="form-control">
                    <option value="day">Day</option>
                    <option value="week">Week</option>
                    <option value="month">Month</option>
                </select>
            </div>
            <div class="form-group">
                <label for="file">Upload Actual Data File (Optional):</label>
                <input type="file" id="file" name="file" class="form-control-file">
            </div>
            <button type="submit" class="btn btn-primary">Get Forecast</button>
        </form>

        {% if graph_url %}
            <img src="{{ graph_url }}" alt="Forecast Graph" class="img-fluid mb-3">
        {% endif %}
        {% if forecast_data %}
            <div class="table-responsive">
                {{ forecast_data|safe }}
            </div>
        {% endif %}
    </div>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<!-- Other HTML content -->


