<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Energy Forecast</a>
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/forecast_components">View Forecast Components</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/device_forecast">View Device Forecast</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/upload">Upload Historical</a>
            </li>

        </ul>
    </div>
</nav>